.actual-meteo-container{
    display: flex;
    justify-content: space-between;
}

.temp-city-actual-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.temp-city-actual-info h2{
    font-size: 6rem;

}

.img-actual-meteo{
    border: 2px solid black;
}