.actual-meteo-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff 40%, #87ceeb 100%);
}

.temp-city-actual-info{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    align-items: start;
    justify-content: center;
}

.temp-city-actual-info h2{
    font-size: 6rem;
}

.temp-city-actual-info h2 sup{
font-size: 3rem;
}

.temp-city-actual-info p{
    color: rgb(97, 97, 97);
}

.img-actual-meteo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-actual-meteo svg{
    width: 8rem;
    height: 8rem;
}
