.actual-meteo-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #e0f2fe 0%, #ffffff 15%, #ffffff 85%,#e0f2fe 100%   );
    box-shadow: inset 0 0 50px rgba(0, 150, 255, 0.5);
}

.temp-city-actual-info{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    align-items: start;
    justify-content: center;
}

.temp-city-actual-info h2{
    font-weight: 500;
    font-size: 6rem;
}

.temp-city-actual-info h2 sup{
font-size: 3rem;
}

.temp-city-actual-info p{
    color: rgb(97, 97, 97);
}

.img-actual-meteo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-actual-meteo svg{
    width: 10rem;
    height: 10rem;
}
