*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #FDFBF7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previsioni-container{
  width: 99%;
  height: 8rem;
  border-radius: 1.75rem;
}

@media (min-width: 768px){
  .previsioni-container{
    width: 450px;
  }
}

.swiper{
  background-color: #e0f2fe;
  box-shadow: 0 20px 50px rgba(11, 131, 187, 0.2);
  border: 1px solid rgba(14, 165, 233, 0.1);
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 1;
  color: black !important;
}

@media (pointer: coarse) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}


.swiper-pagination-bullet {
  background: rgba(43, 43, 43, 0.7) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
  width: 12px !important;
  border-radius: 4px !important;
}
