.days-container{
    display: flex;
    gap: 1.8rem;
    justify-content: center;
    align-items: center;
    padding: 1 0.8rem;
    background: linear-gradient(90deg, #e0f2fe 0%, #ffffff 15%, #ffffff 85%,#e0f2fe 100%   );
    box-shadow: inset 0 0 50px rgba(0, 150, 255, 0.5);
    height: 100%;
}

.day-item{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-item .temp{
    font: 0.8rem;
    font-weight: 600;
}

.day-item .day{
    font-weight: 600;
}

.day-meteo-icon svg{
    width: 3rem;
    height: 3rem;
    color: darkgray;
}